# Authentication
JWT_SECRET=voidforge_super_secret_key_2026
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
